.change_password{
    height: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change_password_form{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right,tomato,purple);
    height: 100%;
    width: clamp(15rem,30vw,30rem);
    padding: 1rem;
    border-radius: .3rem;
}
.change_password_form label{
    text-align: left;
padding: .2rem;
text-transform: capitalize ;
font-weight: 600;
}
.change_password_form button{
    margin-top: 1rem;
}
.change_password_form .inputs,.change_button{
    height: 2.3em;
    border: none;
    outline: none;
}
.change_password_form .inputs{
    background: transparent;
    border-bottom: 2px solid lime;
font-size: 1.1rem;
}
.change_button{
    border-radius: 1rem;
    font-weight: 600;
    background: linear-gradient(to right,trasparent,tomato);

}
.change_password_form .message{
    margin-top: .4rem;
    color: rgb(223, 226, 37);
}